@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-image: url("https://thumbs.dreamstime.com/b/abstract-watercolor-background-artistic-painted-design-wallpaper-texture-modern-art-contemporary-161989310.jpg");
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #FAF9F6;
}

/* .signin {
  background-image: url("https://cdn.vox-cdn.com/thumbor/NVP0PoUEw_EWbd-bf1Slmnhr8-0=/0x0:2000x2000/1400x1050/filters:focal(877x1061:1197x1381):no_upscale()/cdn.vox-cdn.com/uploads/chorus_image/image/63282239/jessica_marquez_sashiko_mending_2918.0.jpg");
  width: 100%;
} */

.form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.form-container {
  width: 100%;
  height: 100%;
  padding: 150px;
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.form-container .header {
  flex: 20%;
  display: grid;
  place-items: center;
  padding-bottom: 25px;
}

.form-container .body {
  flex: 60%;
}

.form-container .footer {
  flex: 20%;
  display: flex;
  justify-content: center;
}

.form-container .footer button {
  border-radius: 7px;
  width: 100px;
  height: 40px;
  background-color: cornflowerblue;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
  margin: 5px;
}

.general-info-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.general-info-container input {
  margin: 5px;
  width: 200px;
  height: 40px;
  padding-left: 5px;
  font-size: 20px;
}

.tutorial-steps-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tutorial-steps-container input {
  margin: 5px;
  width: 200px;
  height: 40px;
  padding-left: 5px;
  font-size: 20px;
}

input, #select {
  border: 2px solid lightskyblue;
  border-radius: 5px;
}

input:focus {
  border: 3px solid cornflowerblue;
}

img {
  width: 20rem;
  padding: 20px;
}

p {
  margin: 20px;
}

#main-image {
  width: 40rem;
}

#tutorial-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#categories-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#home-categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#quote {
  font-size: 100px;
}

.steps {
  display: flex;
  margin: 50px;
}

#tutorial-page {
  background-color: rgba(255,255,255, 0.5);
  width: 100%;
}
